@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-Regular.ttf);
}

body {
  font-family: RobotoMono!important;
}

.divider{
  height: 4px;
  border-radius: 10px;
  width: 100%;
  margin-top: 7em;
  margin-bottom: 7em;
}